# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.coverage

# Media Files #
###############
media/
static/

# Secret Keys #
###############
nyu/secretkeys.json
